{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% if paragraph.field_image_alt_text.value is not empty %}
  {% set alt_text =  paragraph.field_image_alt_text.value  %}
{% else %}
  {% set alt_text =  paragraph.field_image.entity.field_media_image.alt  %}
{% endif %}

{#{% if paragraph.field_heading_size.value == 'h2' %}#}
{#    {%  set heading = 'h2' %}#}
{#    {%  set heading_class = 'text-display-sm font-medium' %}#}
{#{% elseif paragraph.field_heading_size.value == 'h2_large' %}#}
{#    {%  set heading = 'h2' %}#}
{#    {%  set heading_class = 'font-medium' %}#}
{#{% elseif paragraph.field_heading_size.value == 'h1' %}#}
{#    {%  set heading = 'h1' %}#}
{#    {%  set heading_class = 'text-display-xl font-medium' %}#}
{#{% else %}#}
{#    {%  set heading = paragraph.field_heading_size.value %}#}
{#    {%  set heading_class = 'font-medium' %}#}
{#{% endif %}#}

{% if paragraph.field_title_tags.value is not empty %}
    {% set title_heading =  paragraph.field_title_tags.value  %}
{% else %}
    {% set title_heading =  'h2'  %}
{% endif %}

{% if paragraph.field_title_size_weight.value is not empty %}
    {% set heading_class =  paragraph.field_title_size_weight.value  %}
{% else %}
    {% set heading_class =  'font-medium'  %}
{% endif %}

{% block paragraph %}
    {% block content %}
        <section class="md:pb-25 pl-0 md:pl-7.5 xl:pl-32.5 md:pt-0 md:pr-0">
            <div class="flex max-lg:flex-col items-center gap-[37px] md:gap-5 max-md:px-7.5">
                <div class="space-y-2.5 md:space-y-7.5 md:w-1/2 md:pr-9.75">
                    <{{ title_heading }} class="{{ heading_class }}">{{ paragraph.field_title.value|raw }}</{{ title_heading }}>
                    {{ paragraph.field_description.value|raw }}
                    <a href="{{ paragraph.field_link.get(0).getUrl().toString() }}" class="inline-block py-2.5 px-4.5 rounded-[10px] bg-blue-600 text-white text-md font-semibold max-md:mt-[26px]">{{ paragraph.field_link.title }}</a>
                    
                </div>
                <div class="relative bg-{{ paragraph.field_background_color.value|raw }} rounded-[10px] md:rounded-[10px_0px_0px_10px] w-full md:w-1/2 min-h-101.25 md:min-h-170 justify-end items-end flex">
                    <img
                        src="{{ file_url(paragraph.field_image.entity.field_media_image.entity.uri.value) }}"
                        class="max-md:max-w-50 md:max-w-82 float-end mr-3.75 md:mr-16"
                        alt="{{ alt_text }}"
                    />
                    <{{ paragraph.field_heading.value }} class="{{ paragraph.field_size_weight.value|raw }} absolute text-white bottom-0 max-md:left-[27px] md:px-14 py-[23px] md:py-10 max-md:w-[274px]" {% if paragraph.field_overlay_color.value is not empty %}style="background-color:{{ paragraph.field_overlay_color.value }}"{% endif %}>
                        {{ paragraph.field_image_overlay_text.value|raw }}
                    </{{ paragraph.field_heading.value }}>
                </div>
            </div>
        </section>

    {% endblock %}
{% endblock paragraph %}
 
 
